@font-face {
    font-family: Arial;
    src: url(../fonts/times_new_roman.ttf);
}

* {
    font-family: 'Arial', sans-serif;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid black;
    font-size: 14px;
}

.table td {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}