{% extends 'barbershop_base.html' %}

{% load barbershop_tags %}

{% block title %}Профиль{% endblock %}

{% block main %}
    <div class="hero-wrap" style="background-image: {% get_main_photo %};"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-6 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 mt-5 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        Добро пожаловать, {{ request.user.get_full_name }}</h1>
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-2"><a href="{% url 'barbershop:home' %}">Главная</a></span> <span>Профиль</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col">
                {% if request.user.is_superuser %}
                    <h2 style="text-align: center">Ваши возможности</h2>
                    <a href="/admin/" class="btn btn-primary py-3 px-4">Административная панель</a>
                    <a href="#" class="btn btn-primary py-3 px-4">Посмотреть записи</a>
                {% else %}
                    <h2 style="text-align: center">Ваши записи</h2>
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Услуги</th>
                            <th scope="col">Время выполнения</th>
                            <th scope="col">Время записи</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recording in recordings %}
                            <tr>
                                <th scope="row">{{ recording.id }}</th>
                            <td>{{ recording.name }}</td>
                                <td>
                                    {% for service in recording.services.all %}
                                        {% if recording.services.count == forloop.counter %}
                                            {{ service.name }}.
                                        {% else %}
                                            {{ service.name }},
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{% get_execution_time_in_normal_format time=recording.services.all input_format='list' %}</td>
                                <td>{% get_time_start time=recording.date_and_time_of_recording.first %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}