{% load barbershop_tags %}
<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">О нас</h2>
                    {% get_mini_text %}
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        {% get_social_links %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Последние отзывы</h2>
                    <ul class="comment-list">
                        {% get_recent_reviews %}
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Категории</h2>
                    <ul class="list-unstyled">
                        {% get_specialisations %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Есть вопросы?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            {% get_contacts %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Дипломная работа на тему разработка веб-приложения парикмахерская</p>
            </div>
        </div>
    </div>
</footer>