{% load static %}
<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">О нас</h2>
                    <p>{{ info.mini_text }}</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Последние статьи</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4"
                           style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Благородные стремления не спасут: был сорван доклад
                                председателя совхоза</a>
                            </h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4"
                           style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Новая модель организационной деятельности расставила
                                все точки над</a>
                            </h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Сервисы</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Haircut</a></li>
                        <li><a href="#" class="py-2 d-block">Hairstyle</a></li>
                        <li><a href="#" class="py-2 d-block">Trimming</a></li>
                        <li><a href="#" class="py-2 d-block">Shaving</a></li>
                        <li><a href="#" class="py-2 d-block">Skin Care</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Есть вопросы?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">{{ info.location }}</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">{{ info.contact_number }}</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{ info.contact_email }}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Дипломная работа на тему разработка веб-приложения парикмахерская</p>
            </div>
        </div>
    </div>
</footer>